fastapi
uvicorn
python-dotenv
python-multipart
pydantic
langgraph
langchain
langchain-groq
langchain-huggingface
langchain-community
langsmith
faiss-cpu
sentence-transformers
openai-whisper
gtts
pydub
numpy
requests
pytest